name: Mirror to Gitea

on:
  push:
    branches: ["**"]
  delete:
  create:
  release:
    types: [published]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror to Gitea
        run: |
          git clone --bare https://github.com/${{ github.repository }}.git /tmp/repo
          cd /tmp/repo
          git remote add gitea https://Nadav-Fux:${{ secrets.GITEA_TOKEN }}@gitea.com/Nadav-Fux/${{ github.event.repository.name }}.git
          git push gitea --all --force
          git push gitea --tags --force
